body {
    background-color: #121212;
    color: #fff;
    font-family: 'Playfair Display', serif;
}

nav ul {
    display: flex;
    justify-content: center; /* Centers the nav items */
    gap: 20px; /* Creates space between items */
    list-style: none; /* Removes default bullet points */
    padding: 0;
}

nav a {
    text-decoration: none; /* Removes underline */
    color: gold; /* Luxury color */
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: white; /* Smooth hover effect */
}

nav {
    background-color: #1a1a1a;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
}

#contact {
    background-color: #121212;
    color: gold;
    padding: 40px;
    text-align: center;
    margin-top: 50px;
}

#contact form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

#contact input, #contact textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: black;
    color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

#contact button {
    background-color: gold;
    color: black;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-left: 25px;
    border-radius: 15px;
}

footer {
    text-align: center;
}